/* Seleciona o "trilho" do scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 50px;
    width: 5px;
}

/* Seleciona a "barra" do scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #bb1010af;
    border-radius: 50px;
    width: 5px;
}

body {
    background-image: url("../img/bkg00.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}

/* Deixa o backgroud mais escuro */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: -2;
}

/* Header e campo de pesquisa */
header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
}

.logo-pokedex img {
    max-width: 80px;
    margin: auto 0 auto 2rem;
    margin-top: 10px;
}

#pesquisa {
    position: fixed;
    right: clamp(1rem, 10rem, 3rem);
    /* Centraliza a caixa de pesquisa no centro do header*/
    transform: translateY(50%);
    padding: 0.5rem;
    border-radius: 20px;
}

.container-pesquisa {
    color: black;
}

#sugestoes-pesquisa {
    color: black;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: auto;
    z-index: 1000;
    position: absolute;
    top: 4rem;
    right: 3.08rem;
}

#sugestoes-pesquisa {
    max-height: 250px;
    overflow-y: auto;
    width: 232px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sugestao {
    padding: 10px;
    cursor: pointer;
}

.sugestao:hover {
    background-color: #f0f0f0;
}

/* Tira a borda inferior do input quando há sugestões */
input.tem-sugestao {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

main {
    margin-top: 100px;
    text-align: center;
}

.container-pokemon {
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    background-color: white;
    border-radius: 25px;
    padding: 30px 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #fff;
}

.pokemon-card img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: contain;
    margin-bottom: 30px;
}

.pokemon-card:hover {
    transform: scale(1.10);
    border: 4px solid #ff1616;
}

.pokemon-card h3 {
    width: 150%;
}

#pokemon-name {
    text-transform: capitalize;
}
